<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Leaderboards</key>
	<dict>
		<key>349023</key>
		<string>squarest_quest</string>
		<key>332743</key>
		<string>pongland</string>
		<key>332763</key>
		<string>roller_squarester</string>
		<key>332753</key>
		<string>dungeon_of_squares</string>
		<key>347913</key>
		<string>doodle_paddles</string>
		<key>358433</key>
		<string>free_falling</string>
		<key>374823</key>
		<string>ponganoid</string>
		<key>388093</key>
		<string>pingfall</string>
		<key>407283</key>
		<string>square_machine</string>
		<key>407293</key>
		<string>obey_or_not</string>
		<key>407303</key>
		<string>the_last_paddle_standing</string>
	</dict>
	<key>Achievements</key>
	<dict>
		<key>348434</key>
		<string>move_training_ompleted</string>
		<key>588272</key>
		<string>jump_training_completed</string>
		<key>367914</key>
		<string>pongland_level_completed</string>
		<key>367924</key>
		<string>roller_squarester_level_completed</string>
		<key>367854</key>
		<string>roller_squarester_full_bonus</string>
		<key>367964</key>
		<string>dungeon_of_squares_level_completed</string>
		<key>383284</key>
		<string>dungeon_of_squares_full_bonus</string>
		<key>367974</key>
		<string>dungeon_of_squares_without_turbo</string>
		<key>383264</key>
		<string>doodle_paddles_level_completed</string>
		<key>383274</key>
		<string>doodle_paddles_full_bonus</string>
		<key>385014</key>
		<string>free_falling_level_completed</string>
		<key>385024</key>
		<string>free_falling_full_bonus</string>
		<key>385034</key>
		<string>f4_trophy</string>
		<key>407444</key>
		<string>ponganoid_level_completed</string>
		<key>407454</key>
		<string>ponganoid_full_bonus</string>
		<key>407464</key>
		<string>bricknator</string>
		<key>433814</key>
		<string>pingfal_level_completed</string>
		<key>458064</key>
		<string>square_machine_level_completed</string>
		<key>458094</key>
		<string>square_machine_master</string>
		<key>481234</key>
		<string>obey_or_not_level_completed</string>
		<key>481244</key>
		<string>obey_or_not_anarchist</string>
		<key>538432</key>
		<string>obey_or_not_never_failed</string>
		<key>481264</key>
		<string>the_last_paddle_standing_level_completed</string>
		<key>407484</key>
		<string>the_great_escapist</string>
		<key>548132</key>
		<string>million_points_square</string>
		<key>548142</key>
		<string>ten_lifes</string>
		<key>548152</key>
		<string>the_great_explorer</string>
	</dict>
</dict>
</plist>
