<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>-1</key>
	<dict>
		<key>availableTime</key>
		<real>0.0</real>
		<key>description</key>
		<string>Be2 Main Menu</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>0</integer>
		<key>index</key>
		<string>-1</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>mainMenu</string>
		<key>title</key>
		<string>Main Menu</string>
	</dict>
	<key>0</key>
	<dict>
		<key>availableTime</key>
		<real>300.0</real>
		<key>description</key>
		<string>First lesson: avoid the paddles.</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>5</integer>
		<key>index</key>
		<string>0</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>pongland</string>
		<key>title</key>
		<string>Pongland</string>
	</dict>
	<key>1</key>
	<dict>
		<key>availableTime</key>
		<real>420.0</real>
		<key>description</key>
		<string>An high speed ride</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>15</integer>
		<key>index</key>
		<string>1</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>rollerSquarester</string>
		<key>title</key>
		<string>Roller Squarester</string>
	</dict>
	<key>10</key>
	<dict>
		<key>availableTime</key>
		<real>0.0</real>
		<key>description</key>
		<string></string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>0</integer>
		<key>index</key>
		<string>10</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>lastPaddleStanding</string>
		<key>title</key>
		<string>The Last Paddle Standing</string>
	</dict>
	<key>2</key>
	<dict>
		<key>availableTime</key>
		<real>600.0</real>
		<key>description</key>
		<string></string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>13</integer>
		<key>index</key>
		<string>2</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>dungeonOfSquares</string>
		<key>title</key>
		<string>Dungeon of Squares</string>
	</dict>
	<key>4</key>
	<dict>
		<key>availableTime</key>
		<real>300.0</real>
		<key>description</key>
		<string>Jump jump jump</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>5</integer>
		<key>index</key>
		<string>4</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>doodlePaddle</string>
		<key>title</key>
		<string>Doodle Paddle</string>
	</dict>
	<key>5</key>
	<dict>
		<key>availableTime</key>
		<real>130.0</real>
		<key>description</key>
		<string>With perils</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>12</integer>
		<key>index</key>
		<string>5</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>freeFalling</string>
		<key>title</key>
		<string>Free Falling</string>
	</dict>
	<key>6</key>
	<dict>
		<key>availableTime</key>
		<real>900.0</real>
		<key>description</key>
		<string>Thick as a brick</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>15</integer>
		<key>index</key>
		<string>6</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>ponganoid</string>
		<key>title</key>
		<string>Ponganoid</string>
	</dict>
	<key>7</key>
	<dict>
		<key>availableTime</key>
		<real>1200.0</real>
		<key>description</key>
		<string></string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>25</integer>
		<key>index</key>
		<string>7</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>pingfall</string>
		<key>title</key>
		<string>Pingfall</string>
	</dict>
	<key>8</key>
	<dict>
		<key>availableTime</key>
		<real>1200.0</real>
		<key>description</key>
		<string></string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>18</integer>
		<key>index</key>
		<string>8</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>squareMachine</string>
		<key>title</key>
		<string>The Square Machine</string>
	</dict>
	<key>9</key>
	<dict>
		<key>availableTime</key>
		<real>0.0</real>
		<key>description</key>
		<string>(Do Not) Follow the instructions</string>
		<key>difficulty</key>
		<integer>0</integer>
		<key>explorationPoints</key>
		<integer>9</integer>
		<key>index</key>
		<string>9</string>
		<key>kind</key>
		<integer>0</integer>
		<key>minimumScore</key>
		<integer>0</integer>
		<key>name</key>
		<string>obeyOrNot</string>
		<key>title</key>
		<string>Obey Or Not</string>
	</dict>
</dict>
</plist>
